@use 'sass:color';
:root {
  --header-height: 64px;
  --footer-height: 80px;
  --sidebar-width: 260px;
  --sidebar-collapsed-width: 64px;
}

.shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.content {
  flex: 1;
  display: flex;
  position: relative;
  min-height: calc(100vh - var(--header-height));
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  // margin-left: var(--sidebar-width);
  min-height: calc(100vh - var(--header-height));
  transition: margin-left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--bg-secondary);
  position: relative;

  :global(.sidebar-collapsed) & {
    margin-left: var(--sidebar-collapsed-width);
  }

  @media (max-width: 768px) {
    margin-left: 0;
    min-height: 100%;
  }
}

.mainContent {
  flex: 1;
  padding: 2rem;
  padding-left: calc(2rem + 70px); // sidebar mi-width is 72px
  overflow-y: auto;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));

  @media (max-width: 768px) {
    padding: 1rem;
    min-height: calc(
      100vh - var(--header-height) - var(--footer-mobile-height)
    );
  }
}
